@use '../abstracts' as *;
@use '../base' as *;

.project-page {
	padding: 12rem 0;

	.project-group {
	  display: grid;
	  margin-top: 4rem;
	  grid-template-columns: repeat(3,minmax(0,1fr));
	  gap: 4rem;

	  @include respond(tab-port) {
		grid-template-columns: repeat(1,minmax(0,1fr));
	  }
	}
  }
