@use '../abstracts' as *;

.project-detail {
  margin: 16rem 0;

  .arrows {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: var(--text);
    }
  }

  .arrow {
    &__text {
      display: block;
      margin: 0 2rem;
      white-space: nowrap;
    }

    &__left {
      cursor: pointer;
      display: flex;

      &:hover #arrow-left path {
        fill: $color-grey-dark;
        transition: 0.2s all;
      }
    }

    &__right {
      cursor: pointer;
      display: flex;

      &:hover #arrow-right path {
        fill: $color-grey-dark;
        transition: 0.2s all;
      }
    }
  }
  .project {
    &__paragraph {
      white-space: pre-line;
      font-size: 2rem;
      margin: 5rem 0;
    }
    &__date {
      margin-top: 1.6rem;
      color: $color-neutral-600;
    }

    &__category{
      display: flex;
      flex-wrap: wrap;
      gap: .8rem;
      margin-top: 1.6rem;
      &-item{
        display: inline-block;
        // background-color: $color-primary-600;
        color: $color-neutral-800;
        border: 2px solid $color-neutral-800;
        padding: .2rem .8rem;
        border-radius: .8rem;
        white-space: nowrap;
      }
    }

    &--references {
      display: flex;
      justify-content: space-evenly;
      margin: 4rem 0;
      &__link {
        display: block;
        padding: 0 1rem;
        border-left: 2px solid $color-primary;
        border-right: 2px solid $color-primary;
        text-decoration: none;
        color: inherit;
        &:hover {
          color: var(--text), 0.5;
          transition: 0.2s color;
        }
      }
    }

    &__image {
      max-width: 77rem;
      margin: 5rem 0;

      @media (max-width: 900px) {
        width: 100%;
      }
    }
  }

  .markdown {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    p:has(> img) {
      display: flex;
      justify-content: center;
      margin: 1.6rem 0;
    }

		li {
			margin: .4rem 0;
		}
		code {
			background-color: $color-neutral-100;
			padding: 0 .4rem;
			margin: .4rem 0;
			border-radius: 2px;
      overflow-wrap: break-word;
		}

    img {
      max-width: 70rem;
    }

    td,
    th {
      padding: 8px 16px;
      // border: 1px solid $color-neutral-400;
    }
    tr {
      background-color: $color-neutral-25;
    }
    tr:nth-child(2n) {
      background-color: $color-neutral-50;
    }
    @include respond(tab-port) {
      img {
        width: 90%;
      }
    }
  }
}
