$color-primary: #204c1e;;
$color-warning: #f33e3e;


$background: #fefefe;

//OTHER COLOR
$color-grey-dark: #9b9b9b;
$color-dark: #464646;
$color-facebook: #3b5998;
$color-instagram: rgb(224, 53, 102);
$color-linkedin: #0a65c2;


$color-white: #fff;
$color-black: #1A1A1A;

$color-outline: #c4c4c4;

// Primary Color
$color-primary-25: #edf8ed;
$color-primary-50: #c9e9c8;
$color-primary-100: #82cd7f;
$color-primary-200: #5ebe5a;
$color-primary-300: #46a842;
$color-primary-400: #398936;
$color-primary-500: #2d6b2a;
$color-primary-600: #204c1e;
$color-primary-700: #1d461c;
$color-primary-800: #10270f;
$color-primary-900: #122a11;

// neutral Color
$color-neutral-25: #f6f7f8;
$color-neutral-50: #edeff2;
$color-neutral-100: #d0d3dd;
$color-neutral-200: #b0b5c4;
$color-neutral-300: #8f96ae;
$color-neutral-400: #78819b;
$color-neutral-500: #606b8a;
$color-neutral-600: #545d78;
$color-neutral-700: #454d63;
$color-neutral-800: #363c4e;
$color-neutral-900: #252a37;

// error Color
$color-error-25: #fff4f0;
$color-error-50: #ffe8e0;
$color-error-100: #ffc6b2;
$color-error-200: #ff9f80;
$color-error-300: #ff794d;
$color-error-400: #ff5b24;
$color-error-500: #ff4000;
$color-error-600: #fa3e00;
$color-error-700: #f53d00;
$color-error-800: #f03c00;
$color-error-900: #e53900;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.6rem;

//BORDER RADIUS
$border-radius: 0.5rem;
