@use '../abstracts' as *;

.project-card {
  border: 0.1rem solid #c4c4c4;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;



  &:hover .project-card__image {
    transform: scale(1.1);
    transition: all 0.5s;
  }

  &__horizontal {
    height: 32rem;
    width: 80rem;

    @include respond(tab-port) {
      height: 26rem;
      width: 100%;
    }
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
