@use '../abstracts' as *;
@use '../base' as *;

.sidebar {
  background-color: $color-neutral-700;
  padding: 2.4rem 1.6rem;
  flex-basis: 24rem;
  border-radius: 0.4rem;
  height: 100vh;

  ul {
    list-style: none;
    padding-left: 0.8rem;
    padding-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    & > li {
      @extend .p--large--bold;
    }
  }

  &__link {
    all: unset;
    display: block;
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    color: $color-white;

    &:hover,
    &.is-active {
      background-color: #937fbd29;
      cursor: pointer;
      color: $color-neutral-100;
    }

    &:active {
      background-color: #937fbd29;
      cursor: pointer;
      color: $color-neutral-200;
    }
  }
}
