@use '../abstracts' as *;
@use '../base' as *;

.btn {
  &,
  &:link,
  &:visited {
    text-transform: none;
    text-decoration: none;
    padding: 0.8rem 2.4rem;
    border-radius: 0.3rem;
    transition: all 0.2s;
    position: relative;
    font-size: 2rem;
    font-weight: 400;
		display: inline-block;
		gap: 1.6rem;
		align-items: center;

    border: none;
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &--primary {
    background-color: $color-primary-500;
    color: $color-white;

    &::after {
      background-color: $color-primary-500;
    }
    &:hover {
      background-color: rgba($color-primary-500, $alpha: 0.9);
    }
  }

  &--secondary {
    background-color: $color-outline;
    color: $color-dark;

    &:hover {
      background-color: $color-grey-dark;
    }
  }

  &#{&}--link {
    color: $color-primary-300;
    background-color: transparent;
    transition: background-color 0.2s;
    padding: 1rem 0rem;
    transition: all 0.2s;
    @extend .p--xlarge;
    &:hover {
			color: $color-primary-100;
			text-decoration: underline;
    }

    &:active {
      color: $color-primary-400;
			text-decoration: underline;
    }
  }

	&#{&}--nav-link {
    color: $color-primary-25;
    background-color: transparent;
    transition: background-color 0.2s;
    padding: 1rem 0rem;
    transition: all 0.2s;
    @extend .p--xlarge;
		font-family: 'Space Grotesk';
    &:hover {
			color: $color-primary-50;
    }

    &:active {
      color: $color-primary-200;
    }
  }
}
