@use '../abstracts' as *;
@use '../base' as *;

.header {
  background-color: var(--background);
  

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }
  &__school {
    white-space: nowrap;
  }

  &__technologies {
    display: flex;
    flex-wrap: wrap;
    max-width: 80rem;
    justify-content: center;
    &__image {
      margin: 2.4rem 4rem;
      height: 5.6rem;
      max-width: 8rem;
      @include respond(tab-port) {
        margin: 1.8rem 4rem;
        height: 4rem;
        max-width: 5.6rem;
      }
    }
  }

  &__subtitle {
    font-style: italic;
    @extend .p--xxlarge--light;
    color: $color-neutral-300;
  }
  &__subtitle__main {
    font-style: italic;
    @extend .p--xxlarge;
    color: $color-neutral-400;
  }

  &__bio {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    & > span:nth-child(odd) {
      margin: 1.2rem 0 0.8rem 0;
    }
  }

  &__text-box {
    padding: 20rem 0 12rem 0;
    animation: fade-slide-up 1.5s ease-out forwards;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include respond(tab-port) {
      margin-top: 5rem;
      max-width: 40rem;
      margin: 0 auto;
    }
  }

  &--arrow {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(tab-port) {
      margin-top: 5rem;
    }
  }
}

.cta {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 1.6rem;
  & > span {
    text-transform: uppercase;
  }
  &:hover .arrow-navigate {
    transform: translateY(-0.5rem);
    transition: 0.2s all;
  }
}

.arrow-navigate {
  margin: auto;
  width: 50%;
  display: inline-block;
  padding: 5px;
  margin-left: 0.7rem;

  position: absolute;
  top: 1rem;
  left: 2rem;

  &:before,
  &:after {
    width: 5rem;
    height: 0.2rem;
    background: var(--text);
    position: absolute;
    transition: all 0.5s;
    border-radius: 0.5rem;
  }
  &:before {
    content: '';
    left: -2rem;
    transform: rotate(35deg);
  }

  &:after {
    content: '';
    left: 2rem;
    transform: rotate(-35deg);
  }
  &__button {
    height: 3rem;
    width: 10rem;
    position: relative;
  }
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
