@use '../abstracts' as *;
@use '../base' as *;

.header {
  height: 100vh;
  background-color: var(--background);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__subtitle {
    font-style: italic;
    @extend .p--xxlarge--light;
    color: $color-neutral-300;
  }
  &__subtitle__main {
    font-style: italic;
    @extend .p--xxlarge;
    color: $color-neutral-400;
  }

  &__bio {
		margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
		& > span:nth-child(odd) {
			margin: 1.2rem 0 .8rem 0;

		}
		// gap: .8rem;
  }

  &__text-box {
    position: absolute;
		animation: fade-slide-up 1.5s ease-out forwards;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 1.6rem;

    @include respond(tab-port) {
      margin-top: 5rem;
			width: 34rem;
    }
  }

  &--arrow {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(tab-port) {
      margin-top: 5rem;
    }
  }
}

.cta {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 1.6rem;
  & > span {
    text-transform: uppercase;
  }
  &:hover .arrow-navigate {
    transform: translateY(-0.5rem);
    transition: 0.2s all;
  }
}

.arrow-navigate {
  margin: auto;
  width: 50%;
  display: inline-block;
  padding: 5px;
  margin-left: 0.7rem;

  position: absolute;
  top: 1rem;
  left: 2rem;

  &:before,
  &:after {
    width: 5rem;
    height: 0.2rem;
    background: var(--text);
    position: absolute;
    transition: all 0.5s;
    border-radius: 0.5rem;
  }
  &:before {
    content: '';
    left: -2rem;
    transform: rotate(35deg);
  }

  &:after {
    content: '';
    left: 2rem;
    transform: rotate(-35deg);
  }
  &__button {
    height: 3rem;
    width: 10rem;
    position: relative;
  }
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
