@use '../abstracts' as *;
@use '../base' as *;

.project-section {
  padding-top: 16rem;
  &:last-of-type {
    margin: 0 0 16rem 0;
  }

  .project-link {
    text-transform: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    @extend .p--large--bold;
    color: $color-primary-600;
    transition: all 0.2s;
    margin-left: 0.8rem;
    &:active,
    &:focus {
      outline: none;
    }
    &:hover {
      color: $color-primary-500;
    }
  }

  .project-group {
    display: grid;
    margin-top: 2.4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
    @include respond(tab-port) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
